.user-page {
  display: flex;
  flex-direction: column;
  width: 100%;

  --avatar-size: 8rem;
  --avatar-size-desktop: 10rem;
  --panel-padding: 2rem;
}

.user-page__panel {
  background-color: var(--clr-extralight-grey);
  padding: var(--panel-padding);
}

.user-page__info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-page__avatar {
  height: var(--avatar-size);
  width: var(--avatar-size);
  border-radius: 1rem;
  box-shadow: 0 0 0.75rem grey;
}

.user-page__username {
  margin-top: 0.5rem;
  font-size: var(--fnt-size-2xl);
  font-weight: 700;
}

@media only screen and (min-width: 700px) {
  .user-page {
    flex-direction: row;
  }

  .user-page__panel {
    --doubled-padding: calc(var(--panel-padding) * 2);
    --padding-total: calc(var(--header-height) + var(--doubled-padding));

    min-height: calc(100vh - var(--padding-total));
    padding: var(--panel-padding) 4rem;
  }

  .user-page__avatar {
    height: var(--avatar-size-desktop);
    width: var(--avatar-size-desktop);
  }

  .user-page__info-wrapper {
    position: sticky;
    top: 2rem;
  }

  .user-page__content {
    flex: 1;
  }
}
