.info-card {
  padding: var(--screen-padding);
  display: flex;
  flex-direction: column;
}

.info-card__title {
  font-size: var(--fnt-size-2xl);
  font-weight: 700;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid var(--clr-extralight-grey);
}

@media only screen and (min-width: 700px) {
  .info-card {
    flex: 1 0 33%;
    padding: 3rem;
  }
}
